<h2>会員側/Aboutページ</h2>
<p>Customers::Homes#about</p>

<h1>About</h1>
<p>ながのCakeは全国発想可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
様々なバリエーションをご用意しております。<br>
また、全国へ発想可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひご注文ください。</p>
