<div class="row">
  <div class="col-ld-12 moji">
    <h1>About</h1>
    <p>ながのCakeは全国発想可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発想可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。</p>
    <%= image_tag 'top.jpeg',class: "image", width: "600px" %>
  </div>
</div>