// Place all the styles related to the admins/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.genre-page-title{
  display: inline-block;
  background-color: #C0C0C0;
  margin-left: 60px;
  padding: 0 20px;
}

.genre-form-group {
  margin-top: 50px;
}
.genre-table-group {
  margin-top: 50px;
  width: 40%;
}
.genre-btn {
  margin-left: 15px;
}

