// Place all the styles related to the admins/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admins-homes-title {
    display: inline-block;
    background-color: #C0C0C0;
    padding: 0 20px;
    text-align: center;
    margin-left: 60px;
}

.today-orders {
    font: 20px;
    margin-left: 40px;
}