// Place all the styles related to the admins/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-page-title{
  display: inline-block;
  background-color: #C0C0C0;
  margin-left: 60px;
  padding: 0 20px;
}

.order-index-table{
  width: 80%;
  margin-top: 50px;

}

.order-detail-form{
  position: relative;
  table-layout: fixed;
}
.payment{
  position: absolute;
  bottom: 0;
  right: 50px;

}