<div class="row">
  <div class="col-l-12 moji">
    <label class ="mb-4"><b>本当に退会しますか？</b></label>

    <div class="mb-3">
      <p>退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。</p>
    </div>

    <%= link_to customers_my_page_path(@customer) do %>
      <button type="button" class="btn btn-primary">退会しない</button>
    <% end %>

    <%= link_to customers_customers_withdraw_path, method: :patch do %>
      <button type="button", method: :patch, class="btn btn-danger ml-3">退会する</button>
    <% end %>

  </div>
</div>