// Place all the styles related to the customers/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
    margin: 0;
    padding: 0;
}

.title {
    margin: 0 50px 20px 20px;
}

.text-center {
    vertical-align: middle;
}

.bg-origin {
  background-color: #e3e3e3;
}